# ================================
# Arquivos Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================================
# Ambientes virtuais
# ================================
venv/
env/
.venv/

# ================================
# Configurações locais
# ================================
.env
*.env
local_settings.py

# ================================
# Logs / Cache / Builds
# ================================
*.log
*.pot
*.pyc
build/
dist/
.eggs/
*.egg-info/
pip-log.txt

# ================================
# Django
# ================================
# NÃO ignore a pasta home/static !!!
# NÃO ignore nenhuma pasta static dentro dos apps !!!
# Apenas ignore o diretório GERADO pelo collectstatic:
staticfiles/

# MEDIA (fora do container)
media/

# ================================
# IDEs
# ================================
.idea/
.vscode/

# ================================
# Sistema operacional
# ================================
.DS_Store
