# IGNORE GERAL
*.pyc
__pycache__/
media/
local_settings.py
*.log
*.pot

# NÃO IGNORAR static (importante)
#!static/

# Evitar ignorar static do projeto
!/home/static/
!/static/

# Itens comuns de build
build/
dist/
.eggs/
*.egg-info/
.vscode/
.idea/
.DS_Store
.env
docker-compose.yml
