{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
 <head>
  {% include 'partials/_head.html' %}
 </head>
 <body>
  <div class="flex-wrapper">
   {% include 'partials/_nav.html' %}
   <section class="form-container">
    <div class="container">
     <div class="header-bar">
      Cadastrar Funcionário
     </div>
     <div class="content-wrapper" style="padding-top: 0; margin-top: 0;">
      <form action="cadastrar_funcionario/" id="funcionarioForm" method="post">
       {% csrf_token %}
       <h3>
        Informações Pessoais
       </h3>
       <div class="form-row">
        <div class="form-group short-field">
         <label for="cpf">
          CPF
         </label>
         <div class="input-group-cpf">
          <input id="cpf" name="cpf" oninput="mascaraCpf(this)" placeholder="000.000.000-00" required="" type="text"/>
          <button class="btn" onclick="buscarCpf()" type="button">
           Buscar
          </button>
         </div>
        </div>
        <div class="form-group">
         <label for="nome">
          Nome Completo
         </label>
         <input id="nome" name="nome" required="" type="text"/>
        </div>
        <div class="form-group short-field">
         <label for="nascimento">
          Data de Nascimento
         </label>
         <input id="nascimento" name="nascimento" type="date"/>
        </div>
       </div>
       <div class="form-row">
        <div class="form-group">
         <label for="email">
          E-mail
         </label>
         <input id="email" name="email" required="" type="email"/>
        </div>
        <div class="form-group">
         <label for="telefone">
          Telefone
         </label>
         <input id="telefone" name="telefone" required="" type="tel"/>
        </div>
        <div class="form-group short-field">
         <label for="rg">
          RG
         </label>
         <input id="rg" name="rg" type="text"/>
        </div>
       </div>
       <div class="form-row">
        <div class="form-group short-field">
         <label for="sexo">
          Sexo
         </label>
         <select id="sexo" name="sexo">
          <option value="">
           Selecione
          </option>
          <option value="Masculino">
           Masculino
          </option>
          <option value="Feminino">
           Feminino
          </option>
         </select>
        </div>
        <div class="form-group">
         <label for="estado_civil">
          Estado Civil
         </label>
         <input id="estado_civil" name="estado_civil" type="text"/>
        </div>
        <div class="form-group">
         <label for="escolaridade">
          Escolaridade
         </label>
         <input id="escolaridade" name="escolaridade" type="text"/>
        </div>
       </div>
       <h3>
        Endereço
       </h3>
       <div class="form-row">
        <div class="form-group short-field">
         <label for="cep">
          CEP
         </label>
         <input id="cep" name="cep" required="" type="text"/>
        </div>
        <div class="form-group">
         <label for="address">
          Logradouro
         </label>
         <input id="address" name="address" required="" type="text"/>
        </div>
        <div class="form-group short-field">
         <label for="bairro">
          Bairro
         </label>
         <input id="bairro" name="bairro" required="" type="text"/>
        </div>
       </div>
       <div class="form-row">
        <div class="form-group">
         <label for="city">
          Cidade
         </label>
         <input id="city" name="city" required="" type="text"/>
        </div>
        <div class="form-group short-field">
         <label for="state">
          Estado
         </label>
         <input id="state" name="state" required="" type="text"/>
        </div>
       </div>
       <h3>
        Dados Profissionais
       </h3>
       <div class="form-row">
        <div class="form-group">
         <label for="turno">
          Turno de Trabalho
         </label>
         <input id="turno" name="turno" type="text"/>
        </div>
        <div class="form-group">
         <label for="carga_horaria">
          Carga Horária Semanal
         </label>
         <input id="carga_horaria" name="carga_horaria" type="number"/>
        </div>
        <div class="form-group">
         <label for="vinculo">
          Tipo de Vínculo
         </label>
         <input id="vinculo" name="vinculo" type="text"/>
        </div>
        <div class="form-row">
         <div class="form-group">
          <label for="cargo">
           Cargo
          </label>
          <input id="cargo" name="cargo" required="" type="text"/>
         </div>
        </div>
       </div>
       <div class="form-row">
        <div class="form-group">
         <label for="senha">
          Senha de Primeiro Acesso
         </label>
         <input id="senha" name="senha" required="" type="password"/>
        </div>
       </div>
       <div class="form-row">
        <div class="form-group">
         <label for="observacoes">
          Observações Internas
         </label>
         <textarea id="observacoes" name="observacoes" rows="3"></textarea>
        </div>
       </div>
       <div class="form-footer">
        <button class="btn btn-primary" disabled="" id="submitButton" type="submit">
         Cadastrar
        </button>
        <button class="btn btn-secondary" onclick="window.location.href='{% url 'index' %}'" type="button">
         Cancelar
        </button>
       </div>
      </form>
     </div>
    </div>
   </section>
   <footer>
    {% include 'partials/_footer.html' %}
   </footer>
  </div>
  <script src="{% static 'js/cadastrar_funcionario_dinamico.js' %}">
  </script>
 </body>
</html>
