<head>
    <style>
        footer {
            background-color: #f89952;;
            color: white;
            text-align: center;
            padding: 10px 0; /* Ajustado para um valor positivo */
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        .content {
            padding-bottom: 60px; /* Espaço suficiente para o rodapé */
        }
    </style>
</head>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="m-0 text-white">© {% now "Y" %} Gestão Escolar. Todos os direitos reservados.</p>
            </div>
            <div class="col-lg-6 text-right">
                <a href="#" class="m-0 text-white">Política de Privacidade</a>
                <span class="text-white mx-2">|</span>
                <a href="#" class="m-0 text-white">Termos de Uso</a>
            </div>
        </div>
    </div>
</footer>



