{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Pequeno Aprendiz</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Sua identidade visual -->
    <link rel="stylesheet" href="{% static 'plantaopro/css/identidade.css' %}">


    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding-top: 56px;
        }

        .flex-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1;
        }
    </style>
</head>
</body>
    






   